<!-- your html code here -->
<link rel="stylesheet" href="/exercise-collaborative-html-website-pt38-v1/website/assets/css/porfolio-style.css">

<div class="porfolio">

<h1>
    Porfolio
</h1>
<p>
    Je suis fille unique et j'habite près du centre de la ville de Genève* avec ma
    mère et mon chat Polo. Ma mère est pharmacienne et mon père est professeur.
    Ils sont tous les deux très gentils
</p>

<div style="display: flex;">

    <div  class="card" style="width: 18rem; margin-left: 100px; margin-right: 180px;">
        <img src="https://www.adobe.com/content/dam/cc/us/en/products/elements/2022/pepe/marquee/PEPE_WhatsNew_2_700x400.jpg" class="card-img-top" alt="Imagen">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card" style="width: 18rem; margin-right: 180px;">
        <img src="https://cdn1.i-scmp.com/sites/default/files/styles/700x400/public/2014/07/28/car2-epa-0728-net.jpg?itok=welSHjp1" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="https://static.vecteezy.com/system/resources/thumbnails/022/468/153/small_2x/cat-holds-a-loudspeaker-and-attracts-attention-on-a-blue-backgrounds-creative-idea-of-advertising-generative-ai-photo.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>


</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>


</div>